@{
    ViewData["Title"] = "Pagina Incial";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo!</h1>
    <p class="fs-4">Sistema de controle de <a class="btn-link text-decoration-none" asp-controller="Contato" asp-action="Index">contatos</a></p>
</div>
