@model ContatoModel;

@{
    ViewData["Title"] = "Criar Contato";
}


<div class="text-center">
   
    <h1 class="display-4">Cadastrar Contato</h1>

</div>
<div>
    <form asp-controller="Contato" asp-action="CriarContato" method="post">
        <div class="form-group">
            <label for="Nome">Nome</label>
            <input type="text" class="form-control" asp-for="Nome" placeholder="Digite o seu nome...">
            @Html.ValidationMessageFor(e=> e.Nome)
        </div>
        <div class="form-group">
            <label for="Email">Email address</label>
            <input type="email" class="form-control" asp-for="Email" placeholder="Digite o seu email...">
            @Html.ValidationMessageFor(e => e.Email)

        </div>
        <div class="form-group">
            <label for="Telefone">Telefone</label>
            <input type="text" class="form-control" asp-for="Telefone" placeholder="Digite o telefone...">
            @Html.ValidationMessageFor(e => e.Telefone)

        </div>

          <button class="btn btn-primary  w-100" type="submit">Adicionar Contato</button>
          <a class="btn btn-secondary w-100 mt-2" asp-controller="Contato" asp-action="Index">Voltar</a>

    </form>
</div>

